{
  "extends": ["eslint:recommended", "plugin:node/recommended", "mocha"],
  "rules": {
    "node/no-unpublished-require": ["error", {
        "allowModules": ["chai", "chai-as-promised", "chai-http", "mocha-eslint"]
    }],
    "comma-dangle": ["warn", "only-multiline"]
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
